[data-theme='dark'] {
  .nav-links a:hover,
  .community a:hover,
  .open-source a:hover {
    color: #ffffff; /* Hover effect */
      transition: all 0.5s ease-in-out;
  }

  p {
    color: white;
    transition: all 0.5s ease-in-out;
  }
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .open-source {
    width: 200px;
    text-align: center;
  }
  .nav-links ul,
  .community ul,
  .open-source ul {
    list-style: none; /* Removes bullet points */
    padding: 0px;
    display: flex;
    flex-direction: column;
  }

  .nav-links a,
  .community li,
  .community a,
  .open-source a {
    color: #000; /* Match with the header color */
    text-decoration: none;
    padding: 5px 0;
    transition: all 0.5s ease-in-out;
  }
  
  .nav-links a:hover,
  .community a:hover,
  .open-source a:hover {
    color: #000000; /* Hover effect */
    text-decoration: underline; /* Same effect as in the header */
  }
  
  .footer-bottom {
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    color: #333;
    transition: all 0.5s ease-in-out;
    p {
      transition: all 0.5s ease-in-out;
    }
  }
  
  @media (max-width: 768px) {
    .footer-top {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    
    .footer-top div {
      margin-bottom: 20px;
    }
  }
  