[data-theme='dark'] {
  .go-to-top-button {
    background-color: #fff;
    color: black;
  }

}

.go-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 30px;
    padding: 10px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%; /* Circular button */
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s, transform 0.3s;
  
    &:hover {
      opacity: 1;
      transform: translateY(-5px);
    }
  
    &:focus {
      outline: none;
    }
  
    /* For mobile screens */
    @media (max-width: 450px) {
      bottom: 15px;
      right: 15px;
      width: 40px;
      height: 40px;
      font-size: 14px;
    }
  }
  