/* src/css/elements/ThemeButton.scss */

/* The main switch container */
.switch {
    position: relative;
    display: flex;
    width: 60px;
    height: 34px;
  }
  
  /* Hide the checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider (background) */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  /* The small circle inside the slider */
  .slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  /* Change slider background when checked */
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  /* Move the circle to the right when checked */
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  /* Responsive behavior: hide the toggle on mobile or show it */
  #ThemeToggleFull {
    display: inline-flex; /* Display on larger screens */
    
    @media (max-width: 850px) {
      display: none; /* Hide on small screens */
    }
  }
  
  #ThemeToggleMobile {
    display: none; /* Hide on larger screens */
    padding: 7px;
    @media (max-width: 850px) {
      display: inline-flex; /* Show only on small screens */
    }
  }
  