  
  .category-root {
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .category-weapon-list {
    list-style-type: none;
    padding: 0;
  }
  
  .category-weapon-item {
    margin: 30px;
    a {
      text-decoration: none;
    }
  }
  
  .category-statimage {
    display: flex;
  }

  .weapon-image-container {
    flex-shrink: 0; /* Prevent image from shrinking */
    margin-right: 15px;
  }
  
  .weapon-image {
    width: 80px;
  }
  
  .weapon-details {
    flex-grow: 1; /* Allow weapon details to take up remaining space */
    text-align: left;

  }
  
  .category-weapon-name {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
    width: 100%;
    display: flex;
    margin-bottom: 8px; /* Add some space between name and stats */

  }
  
  .weapon-stats {
    margin-top: 5px;
  }
  
  .weapon-stats-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
  }
  
  .weapon-stats-table th,
  .weapon-stats-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .weapon-stats-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .weapon-stats-table td {
    color: #555;
  }
  
  @media (max-width: 768px) {
    .category-weapon-item {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .weapon-image-container {
      margin-bottom: 10px;
    }
  
    .weapon-stats-table th,
    .weapon-stats-table td {
      font-size: 0.8em;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      max-width: 95%; /* Slightly increase width for smaller screens */
    }
  
    .weapon-image {
      width: 60px;
      height: 60px;
    }
  }
  