


.roadmap-section {
    margin-top: 40px;
  }

  h2  {
    color: rgb(0, 0, 0);
  }

  .progress-bar-container {
    width: 80%;
    background-color: #dbdbdb;
    border-radius: 20px;
    margin: 20px auto;
    height: 20px;
    position: relative;
  }
  
  .progress-bar {
    background-color: #62cf8c; /* Progress color */
    height: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
  }
  
  .roadmap-list {
    text-align: left;
    margin-top: 20px;
  }
  
  .roadmap-list h3 {
    margin-bottom: 10px;
  }
  
  .roadmap-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .roadmap-list li {
    margin: 10px 0;
  }
  
  .completed {
    color: #000000; /* Green for completed items */
  }
  
  .in-progress {
    color: #000000; /* Yellow for items in progress */
  }
  
  .pending {
    color: #000000; /* Red for pending items */
  }


@media (min-width: 768px) {

    .welcomers img{
        width: 30rem;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    .welcomers {
        display: flex;
        justify-content: space-between; /* Push image and text to opposite sides */
        align-items: center;
        margin-bottom: 40px;
        padding: 20px;
    }
    
}
@media (max-width: 768px) {


    .welcomers img{
        width: 30rem;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    .welcomers {
        display: flex;
        justify-content: space-between; /* Push image and text to opposite sides */
        align-items: center;
        margin-bottom: 40px;
        padding: 20px;
    }

    .welcomers {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
    }

    .welcomers img{
        width: 90%;
    }
    
}
